/* Base styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
}

.buttons-container {
    position: fixed;
    top: 20px;
    right: 20px;
}
.buttons-container button {
    margin-left: 10px;
    background-color: #1c1c1c;
    color: #c7bfbf;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #313131;
    height: 200px;
    font-size: 20px;
}

/* Header styling */
header {
    background: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 10px;
}

header nav {
    flex: 1;
    text-align: center;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header div {
    padding: 1em;
    background-color: #333;
    border-radius: 20px;
}

header div a {
    text-decoration: none;
    color: white;
}

header div a:hover {
    color: rgb(253, 23, 23);
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 15px;
    }
}
