{% extends "base.html" %}

{% block content %}
<h1>Gérer les matieres</h1>
<ul>
    {% if matieres %}
        {% for matiere in matieres %}
            <li>
                <strong>{{ matiere.date }}</strong>: {{ matiere.nomMatiere }} - <em> {{matiere.id}} </em>
                <!-- Formulaire pour supprimer la leçon -->
                <form action="{{ url_for('admin.delete_matiere', id=matiere.id) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette leçon ?');">Supprimer</button>
                </form>
            </li>
        {% endfor %}
    {% else %}
        <li>Aucune leçon disponible.</li>
    {% endif %}
</ul>
{% endblock %}
