{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Connexion</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-message {{ messages[0][0] }}">
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Se connecter</button>
    </form>
    <p>Vous n'avez pas de compte</p>
    <a href="{{url_for('users.signup')}}" style="color:Black;">Sing up</a>
</div>
{% endblock %}
