{% extends "base.html" %}

{% block content %}
    <h2>Connexion</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required><br>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required><br>
        <button type="submit">Connexion</button>
    </form>
    <p>Pas encore inscrit ? <a href="{{ url_for('signup') }}">S'inscrire</a></p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
