<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Stream Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
</head>
<body>
    <header>
        <h1>BTS CIEL IR/ER</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('terminal') }}">Terminal</a></li>
                <li><a href="{{ url_for('about') }}">A propos</a></li>
                <li><a href="{{ url_for('learning.learning_redirect') }}">Cours</a></li>
                <li><a href="{{ url_for('about') }}">Contact</a></li>

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Trenoff & Lincoln. Tous droits réservés.</p>
    </footer>

</body>
</html>