<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Stream Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
</head>
<body>
    <header>
        <h1>BTS CIEL IR/ER</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('terminal') }}">Terminal</a></li>
                <li><a href="{{ url_for('about') }}">A propos</a></li>
                <li><a href="{{ url_for('utils_link') }}">Classe</a></li>
                <li><a href="{{ url_for('learning.learning_redirect') }}">Cours</a></li>
                <li><a href="{{ url_for('utils_link') }}">Lien utiles</a></li>
                <li><a href="{{ url_for('about') }}">Contact</a></li>
            </ul>
        </nav>
        <div>
            {% if user %}
            <button id="user-button">{{ user.firstname ~ ' ' ~ user.lastname }}</button>
            {% else %}
            <button id="register-button" href="{{ url_for('users.login') }}">S'inscrire</button>
            <button id="login-button" href="{{ url_for('users.signup') }}">Se connecter</button>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Trenoff & Lincoln. Tous droits réservés.</p>
    </footer>

    <script>
        document.getElementById('register-button').addEventListener('click', function() {
        window.location.href = "{{ url_for('users.signup') }}";
        });

        document.getElementById('login-button').addEventListener('click', function() {
            window.location.href = "{{ url_for('users.login') }}";
        });
    </script>

</body>
</html>
