<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Stream Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
</head>
<body>
    <header>
        <h1>BTS CIEL IR/ER</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('terminal') }}">Terminal</a></li>
                <li><a href="{{ url_for('chat') }}">Classe</a></li>
                <li><a href="{{ url_for('learning.learning_redirect') }}">Cours</a></li>
                <li><a href="{{ url_for('utils_link') }}">Lien utiles</a></li>
                <li><a href="{{ url_for('about') }}">Contact</a></li>
            </ul>
        </nav>
        <div>
            {% if user %}
            <button id="user-button">{{ user.firstname ~ ' ' ~ user.lastname }}</button>
            {% else %}
            <button id="register-button">S'inscrire</button>
            <button id="login-button">Se connecter</button>
            {% endif %}
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <a href="{{ url_for('about') }}">A propos</a>
        <p>&copy; 2024 Trenoff & Lincoln. Tous droits réservés.</p>
    </footer>

    <script>
        // Fonction de redirection
        function redirectTo(url) {
            window.location.href = url;
        }

        // S'assurer que le DOM est chargé avant d'ajouter les écouteurs d'événements
        document.addEventListener("DOMContentLoaded", function() {
            var registerButton = document.querySelector("#register-button");
            var loginButton = document.querySelector("#login-button");
            var userButton = document.querySelector("#user-button");

            // Ajouter des événements de redirection seulement si les boutons existent
            if (registerButton) {
                registerButton.addEventListener("click", function() {
                    redirectTo("/user/signup");
                });
            }
            if (loginButton) {
                loginButton.addEventListener("click", function() {
                    redirectTo("/user/login");
                });
            }
            if (userButton) {
                userButton.addEventListener("click", function() {
                    redirectTo("/user"); // Redirige vers une page de profil
                });
            }
        });
    </script>
</body>
</html>
