body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
}

#terminal {
    width: 80%;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid #00ff00;
    padding: 20px;
    height: 400px;
    overflow-y: auto;
}

.prompt {
    color: #00ff00;
}

#command-input {
    background-color: black;
    color: #00ff00;
    border: none;
    outline: none;
    width: 80%;
}

#output {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: #00ff00;
    margin-top: 20px;
}

a {
    color: #00ff00;
}
