{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('add_lessons') }}">
    <label for="date">Date du cours :</label>
    <input type="date" id="date" name="date" required>
    
    <label for="nomCour">Nom du cours :</label>
    <input type="text" id="nomCour" name="nomCour" maxlength="255" required>

    <label for="matiere">Matière :</label>
    <input type="text" id="matiere" name="matiere" maxlength="50" required>

    <label for="mainChemin">Chemin du document principal :</label>
    <input type="text" id="mainChemin" name="mainChemin" maxlength="200" required>

    <label for="idf">identifiant flask du cours :</label>
    <input type="text" id="idf" name="idf" maxlength="200" required>

    <button type="submit">Ajouter le cours</button>
</form>

{% endblock %}